#about-section1{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/greenbackground.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  height: 200px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  font-size: 2.5rem;
}

strong #about-section1{
  font-weight: 900;
  color: LightGreen;
}

#research{
  background-color: white;
  height: 200px;
  padding: 50px;
  color: #232323;
}

h1 #research{
  color: #00ff6c;
}

#media{
  background-color: #232323;
  color: LightGreen;
  height: 200px;
  padding: 50px;
}

h1 #media{
  color: white;
}
