#page-title{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/greenbackground.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  height: 200px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  font-size: 2.5rem;
}

.navlinks button {
  border-top: 3px solid #00ff6c;
  border-radius: 8px;
  background: #E8E8E8;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.25s;
}

.navlinks button:hover {
  background-color: white;
}

.navlinks button.active{
  background-color: white;
}

.navinfo{
  padding: 12px;
  height: 1250px;
  font-size: 13px;
  border: 3px dotted #00ff6c;
  border-radius: 8px;
}

.tech-clubs{
  background-color: LightGreen;
  color: black;
  height: 700px;
  padding: 50px 80px;
  outline: 2px dotted #232323;
  outline-offset: -2.5em;
}

.table{
  text-align: center;
  padding: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 20px;
}
ul{
  list-style: none;
}

#gall{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/greenbackground.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  height: 1600px;
  margin: 0;
  padding: 50px;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
}
.project-pics{
  background: white;
  color: #232323;
  margin: auto;
  border: 1px double black;
  float: left;
  width: 20%;
  height: 700px;
  padding: 50px;
}
.description{
  padding: 15px;
  text-align: center;
}

img .project-pics{
  width: 20%;
  height: 100px;
  padding: 15px;
  margin: auto;
}
#student-projects{
  margin: 10px;
}

table.teachers{
  background: #232323;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

body{
  text-align:center;
}
