* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#top-bar{
  position: absolute;
  font-weight: bold;

}


h1 {
  font-weight: 300;
  font-size: 1.7rem;
}


a{
  float: right;
	text-decoration: none;
	padding: .5em;
  margin: 1em;
  display: inline-block;
	color: white;
}

a:hover{
	color: #00ff6c;
  opacity: 1;
}

.main-button{
  text-decoration: none;
  padding: .5em;
  color: LightGreen;
  display: inline-block;
  margin: 1em;
}
