* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 1.7rem;
}

nav ul {
  list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
  margin: 1em;
	display: inline-block;
}

nav a {
	font-weight: 400;
	text-decoration: none;
	padding: .5em;
	color: white;
}

nav a:hover{
	color: LightGreen;
  opacity: 1;
}

.main-button:hover{
  float: left;
  color: white;
  opacity: 1;
}
