#index-section1{
 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/jhs.jpg') 50% 0 no-repeat fixed;
 color: #fff;
 height: 500px;
 margin: 0;
 padding: 200px 0 260px 0;
 background-size: cover;
 font-size: 500%;
 text-align: center;
}

.school-map{
  background-color: white;
  height: 500px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
  text-align: center;
}

strong .main-page{
  font-weight: 400;
  color: LightGreen;
}

.box{
  float: right;
  padding-top:50px;
  padding-right:80px;
  padding-bottom:50px;
  padding-left:80px;
  width: 50%;
  margin: 0 auto;
  background-color: Gray;
  margin-left: -2.5%;
  outline: 2px dotted white;
  outline-offset: -2.5em;
  color: white;
  position: relative;
}


h2 .box{
	color: LightGreen;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: Gray;
	padding: 0 .145em;

}

#upper-map{
  float: left;
  width: 30%;
  height: 30%;
}

#lower-map{
  float: left;
  width: 30%;
  height: 30%;
}
.core-values{
  background:url('../images/greenbackground.jpg') 100% 0 no-repeat fixed;
  height: 500px;
  color: white;
  background-size: cover;

}

.heading{
  color: black;
  background-color: white;
  padding:50px 80px;
  text-align: justify;
}
