.main-page{
  background:url('../images/jhs.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 300%;
  text-shadow: 0px 1px 14px rgba(0, 0, 0, 1.0);
}

strong .main-page{
  font-weight: 300;
  color: #00ff00;
}

.box{
  float: right;
  padding-top:50px;
  padding-right:80px;
  padding-bottom:50px;
  padding-left:80px;
  width: 95%;
  max-width: 100em;
  margin: 0 auto;
  background-color: Gray;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px dotted white;
  outline-offset: -2.5em;
  color: white;
  position: relative;
}


h2 .box{
	color: LightGreen;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: Gray;
	padding: 0 .145em;

}

#upper-map{
  float: left;
  width: 40%;
  height: 40%;
}

#lower-map{
  float: left;
  width: 40%;
  height: 40%;
}
.core-values{
  background:url('../images/greenbackground.jpg');
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
