#index-section1{
 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/jhs (2).jpg');
 background-attachment: fixed;
 background-repeat: no-repeat;
 color: white;
 height: 200px;
 margin: 0;
 padding: 200px 0 260px 0;
 background-size: cover;
 background-position: center;
 z-index: -1;
 position: relative;
 font-size: 2.5rem;
}

.core-values{
  background:url('../images/greenbackground.jpg');
  margin: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 200px 0 260px 0;
  background-position: center;
  position: relative;
  height: 100px;
  color: white;
  font-size: 100%;
  background-size: cover;
  z-index: 0;

}

#jhspic{
  z-index: 6;
  position: absolute;
  float: left;
  width: 30%;
  margin-left: 0;
  margin-right: 2px;
}

.school-map{
  background-color: white;
  height: 300px;
  padding-top: 10px;
  margin: 0;
  background-size: cover;
  text-align: center;
}

strong #index-section1{
  font-weight: 900;
  color: LightGreen;
}

.box{
  z-index: 5;
  position: absolute;
  float: right;
  padding-top:50px;
  padding-right:80px;
  padding-bottom:50px;
  padding-left:80px;
  width: 40%;
  margin: 0 auto;
  background-color: #232323;
  margin-left: 2px;
  outline: 2px dotted #00ff6c;
  outline-offset: -2.5em;
  color: white;
  position: relative;
}


h2 .box{
	color: LightGreen;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: Gray;
	padding: 0 .145em;

}


.heading{
  padding-bottom: 10px;
  color: black;
  background-color: white;
  padding:50px 80px;
  text-align: justify;
  border: 2px solid #232323;
  border-radius: 8px;
}

#core-values-heading{
  color: LightGreen;
  font-weight: bold;
}
