#page-title{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/greenbackground.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  height: 200px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  font-size: 2.5rem;
}

.tsachapter-pics{
  height: 400px;
  background-color: LightGreen;
}

img{
  border: 4px solid #00ff6c;
  margin: auto;
}

#section1{
  height: 400px;
  background-color: white;

}

#tsa-logo{
  float: left;
  width: 50%;
  height: 300px;
  margin: 10px;
}

.TSA-definition{
  float: right;
  width: 50%;
  height: 400px;
  padding: 50px;
}

.creed-motto{
  height: 300px;
  color: black;

}

#chaptor-activity{
  height: 800px;

}

#chaptor-advisor{
  height: 200px;
  background-color: LightGreen;
  padding: 20px;
}

.officers{
  height: 700px;
  background-color: Gray;
}

.activities-cservice{
  height: 550px;
  background-color: white;
  color: #232323;
}

.awards{
  height: 400px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/awards.jpg');
  color: white;
}

ul{
  list-style: none;
}

strong span{
  color: LightGreen;
  font-weight: bold;
}

span{
  background-color: #232323;
  color: white;
  border: 2px solid #232323;
  border-radius: 8px;
}

#placing{
  padding: 20px;
}
